<section>
  <div class="w-[400px] m-auto pt-10">
    <div
      [style]="{
        backgroundColor:
          statusString === 'empty'
            ? 'gray'
            : statusString === 'lesseght'
            ? 'red'
            : statusString === 'string'
            ? 'red'
            : statusString === 'number'
            ? 'red'
            : statusString === 'combination'
            ? 'yellow'
            : statusString === 'combinationAll'
            ? 'green'
            : ''
      }"
      class="p-5 mb-4 border rounded-lg"
      aria-label="status field top"
    ></div>
    <div
      [style]="{
        backgroundColor:
          statusString === 'empty'
            ? 'gray'
            : statusString === 'lesseght'
            ? 'red'
            : statusString === 'string'
            ? 'gray'
            : statusString === 'number'
            ? 'gray'
            : statusString === 'combination'
            ? 'yellow'
            : statusString === 'combinationAll'
            ? 'green'
            : ''
      }"
      class="p-5 mb-4 boreder rounded-lg"
      aria-label="status field center"
    ></div>
    <div
      [style]="{
        backgroundColor:
          statusString === 'empty'
            ? 'gray'
            : statusString === 'lesseght'
            ? 'red'
            : statusString === 'string'
            ? 'gray'
            : statusString === 'number'
            ? 'gray'
            : statusString === 'combination'
            ? 'gray'
            : statusString === 'combinationAll'
            ? 'green'
            : ''
      }"
      class="p-5 border rounded-lg"
      aria-label="status field bottom"
    ></div>
  </div>
</section>
